mat-card {
  border-radius: 8px;
  padding: 16px;

  mat-card-title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  mat-card-subtitle {
    color: gray;
    opacity: 0.7;
  }

  mat-card-content {
    margin: 16px 0;
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
}
