<div class="container py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">My Tasks</h1>
    <div>
      <button mat-raised-button color="primary" (click)="addTask()" class="mr-4">
        Add Task
      </button>
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <mat-card
       *ngFor="let task of tasks;"
      class="shadow-lg"
      [ngClass]="{ 'opacity-50': task.completed }"
    >
      <mat-card-header>
<mat-card-subtitle>{{ task.createdAt.toString()| date:'short' }}</mat-card-subtitle>

      </mat-card-header>
      <mat-card-content>
        <p>{{ task.description }}</p>
        <mat-checkbox
          [checked]="task.completed"
          (change)="toggleTaskCompletion(task)"
          aria-label="Toggle task completion"
        >
          {{ task.completed ? 'Completed' : 'Pending' }}
        </mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="editTask(task)" aria-label="Edit task">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteTask(task.id!)" aria-label="Delete task">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
